<div class="footer_w">
    <div class="footer">
      <div class="txt">
         <div class="t_1">{$web_title}</div>
      
         <div class="t_2">全国法律服务热线：12348 &nbsp;<br>
  <span>联系地址：{$address}</span>
          </div>
      </div>
      <div class="ewm">
        <div class="pic"><img src="/public/static/index/images/gongzhonghao.png" width="87" height="87"></div>
        <div class="ewm_txt">
            微信扫一扫<br>
            中国普法公众号<br>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>