<div class="mar_t_30 mar_b_30" id="nleft_content">
  

    <div class="nleft_title fb f16 mar_t_20 color1">法律热线</div>
    <div class="nleft_boder line30">
        <div style="padding:20px 30px">
          <div class="fb">{$web_title}</div> 
          公共法律服务热线：12348
         
          <br>
          网站链接：<br><!-- comment -->
           <a target='_blank' href="http://www.legaldaily.com.cn/" > >法治网</a>
           <br>
           <a target='_blank' href="http://www.acla.org.cn/home/toPage" > >中国律师网</a>
           <br>
          <a target='_blank' href="https://www.chinacourt.org/index.shtml" > >中国法院网</a>
        </div>

    </div>


</div>